h1 {
    background-color: $white;

    div {
        background-color: $black;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        padding: 10px 20px;
    }
}

.answer {
    font-size: 25px;
    font-style: italic;
    height: 45px;
    padding: 10px;
}
