input[type=text] {
    color: #555555;
    border: none;
    border-bottom: solid 1px #DDDDDD;
    padding: 5px;
    width: 500px;

    &:focus {
        outline: none;
    }
}

button {
    $button-color: #0e83cd;

    background-color: white;
    border: solid 2px $button-color;
    color: $button-color;
    margin: 20px;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
        background-color: $button-color;
        color: white;
    }

    &:focus {
        outline: none;
    }
}
