input {
    &[type='text'] {

        border: 0;
        border-bottom: solid 1px $input-outlint-color;
        color: $input-text-color;
        padding: 5px;
        width: 500px;

        &:focus {
            outline: 0;
        }
    }
}

button {
    background-color: $white;
    border: solid 2px $button-color;
    color: $button-color;
    margin: 20px;
    padding: 10px;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
        background-color: $button-color;
        color: $white;
    }

    &:focus {
        outline: none;
    }
}
